nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: white;
}

.company-logo{
  width: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
